#cw-logo{
    border:0px;
    border-radius: 50%;
    /* padding:10px; */
    margin:10px;
    height:130px;
    width:130px;
}
#cw-menuBar{
    background-color: rgb(214, 214, 214);
    height:100px;
}
#wraper{
    margin:10px 30px;
}